In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import googletrans
from googletrans import Translator
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats

translator = Translator()

plt.rc("font", family="AppleGothic")
plt.rc("axes", unicode_minus=False)

set_matplotlib_formats("retina")

df1 = pd.read_csv("../../2021_elementary.csv")
df2 = pd.read_csv("../../2021_juniorHigh.csv")
df3 = pd.read_csv("../../2021_High.csv")

df = pd.concat([df1,df2,df3])

df.rename(columns=lambda x: translator.translate(x).text, inplace=True)

df.head()

,Attempt Office of Education,Local school administration,area,Information Disclosure School Code,School name,School Code,Establishment,School Characteristics,Whether,Established type,...,Zip code,School Road Name Postal Code,School Road Name Address,School Road Name Detail Address,Latitude,Hardness,Phone number,Fax number,Home Address,Men's engineering classification
0,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 서초구,S000003511,서울교육대학교부설초등학교,2,국립,NaN,N,부설,...,137742,6639.0,서울특별시 서초구 서초중앙로 96,"(서초동,서울교대초등학교)",37.490739,127.015424,02-6009-6000,02-6009-6090,http://ps.snue.ac.kr/,남녀공학
1,서울특별시교육청,서울특별시중부교육지원청,서울특별시 종로구,S000003563,서울대학교사범대학부설초등학교,2,국립,NaN,N,부설,...,110810,3087.0,서울특별시 종로구 대학로 64,"(동숭동,서울사대부설초등학교)",37.577017,127.003091,02-768-1500,02-766-4085,http://www.snu.es.kr,남녀공학
2,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000738,서울개일초등학교,2,공립,NaN,N,단설,...,135804,6323.0,서울특별시 강남구 개포로 401,", 개일초등학교 (개포동,개일초등학교)",37.486214,127.057742,02-571-8320,02-571-8325,http://gaeil.sen.es.kr,남녀공학
3,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000741,서울구룡초등학교,2,공립,NaN,N,단설,...,135244,6305.0,서울특별시 강남구 개포로 263,"(개포동,구룡초등학교)",37.481193,127.051755,02-573-5017,02-575-4237,http://kuryong.sen.es.kr,남녀공학
4,서울특별시교육청,서울특별시강남서초교육지원청,서울특별시 강남구,S010000742,서울논현초등학교,2,공립,NaN,N,단설,...,135010,6119.0,서울특별시 강남구 강남대로120길 33,"(논현동,논현초등학교)",37.500000,127.000000,02-514-6636,02-514-7072,http://nonhyun.sen.es.kr,남녀공학

In [16]:
school_df.head()

  Information Disclosure School Code      School name   Latitude    Hardness
0                         S000003511    서울교육대학교부설초등학교  37.490739  127.015424
1                         S000003563  서울대학교사범대학부설초등학교  37.577017  127.003091
2                         S010000738         서울개일초등학교  37.486214  127.057742
3                         S010000741         서울구룡초등학교  37.481193  127.051755
4                         S010000742         서울논현초등학교  37.500000  127.000000

In [15]:
seoul_map = folium.Map(location=[37.5614378,126.9751701], zoom_start=14)
folium.Marker([37.5614378,126.9751701], popup='City Hall').add_to(seoul_map)

df = df[['Information Disclosure School Code','School name','Latitude','Hardness']].copy()
school_df = df.drop_duplicates()

In [ ]:
def graduate_preprocrssing(path):
    raw_graduate = pd.read_excel(path, sheet_name='2018_졸업생의 진로 현황(중)')
    select_col = raw_graduate[['지역', '학교명','정보공시 \n 학교코드', '졸업자.2', '(특수목적고)과학고 진학자.2','(특수목적고)외고ㆍ국제고 진학자.2']]
    select_col.columns = ['지역', '학교명', '학교코드', '졸업자', '과고', '외고']
    graduate_data = select_col.drop(0)
    graduate_data['과고'] = pd.to_numeric(graduate_data['과고'])
    graduate_data['외고'] =  pd.to_numeric(graduate_data['외고']) 
    graduate_data['졸업자'] =  pd.to_numeric(graduate_data['졸업자']) 
    graduate_data['총합'] = graduate_data['과고'] + graduate_data['외고']
    
    def get_sido(x):
        temp = x.split(' ')[0]
        if len(temp) != 4:
            return temp[:2]
        else:
            return temp[0] + temp[2]
    
    graduate_data['시도'] = graduate_data['지역'].dropna().apply(get_sido)
    graduate_data['구군'] = graduate_data['지역'].dropna().apply(lambda x: x.split(' ')[1])
    
    graduate_data.at[588,'시도'] = '부산'
    graduate_data.at[588,'구군'] = '기장군'
    graduate_data.at[3011,'시도'] = '경북'
    graduate_data.at[3011,'구군'] = '예천군'
    
    return graduate_data

graduate_path = r' 졸업생 진로 데이터 엑셀 파일 디렉터리 \ 졸업생 진로 데이터 엑셀 파일명.xlsx'
gradu_df = graduate_preprocrssing(graduate_path)